doctype html
head
    title Manager
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/styles/bootstrap.min.css')
    link(rel='stylesheet' href='/styles/user.css')
    link(rel="icon" type="image/x-icon" href="/images/icon.png")
    script(src="javascript/libs/jquery.min.js")
    //- script(src="javascript/libs/popper.min.js")
    script(src="javascript/libs/bootstrap.min.js")
    //- script(src="javascript/libs/jquery.validate.min.js")
    script(src="javascript/libs/superagent.min.js")
    script(src="javascript/user.js")
    //- script(src="javascript/passwd.js")
.container
  // Modal
  #myModal.modal.fade(role='dialog')
    .modal-dialog
      // Modal content
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal') &times;
        .modal-body
          
        .modal-footer
          button.btn.btn-info.save(type='button') Save
          button.btn.btn-default(type='button' data-dismiss='modal') Close

    // Modal Pass

  .table-wrapper
    .table-title
      .row
        .col-sm-10
          h2
            | Endpoint
            b Details
      table.table.table-bordered
        thead
          tr
            th OAName
            th OAId
            th Access Token
            th Refresh Token
            th Timestamp
            th Expiry Date
            th Action
        tbody
          each endpoint in Endpoints
            tr
              td= endpoint.OAName
              td= endpoint.OAId
              td= endpoint.AccessToken
              td= endpoint.RefreshToken
              td= endpoint.Timestamp
              td= endpoint.ExpiryDate
              td
                button.edit(title='Edit' data-toggle='tooltip') Edit
                button.delete(title='Delete' data-toggle='tooltip') Delete
      button.btn.btn-info.add-new(type='button')
        i.fa.fa-plus
        |  Add New
